.login {
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    background-image: url(../../Assets/bg.jpg);
    position: fixed;
    width: 100%;

}

.form-tt {
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-tt h2 {
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-bottom: 30px;
}

.form-tt input,
.form-tt button {
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 1.2;
    display: block;
    width: 500px;
    height: 60px;
    background: 0 0;
    padding: 5%;
    border: 2px solid rgba(255, 255, 255, .24) !important;
    border-radius: 40px;
    outline: 0;
    margin-bottom: 10px;
}

.form-tt input[type=text]::focus,
.form-tt input[type=password]::focus,
.form-tt input[type=email]::focus,
.form-tt input[type=tel]::focus {
    color: red;
}

.form-tt input[type=password] {
    margin-bottom: 20px;
}

.form-tt input::placeholder {
    color: #fff;
}

.form-tt button {
    background: #fbceb5 !important;
    color: #000 !important;
    font-size: 16px;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.checkbox {
    display: block;
}

.form-tt input[type=submit] {
    font-size: 16px;
    color: #555;
    line-height: 1.2;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    background: #fff;
    position: relative;
    z-index: 1;
    border: 0;
    outline: 0;
    display: block;
    margin: 30px auto;
}

#checkbox {
    display: inline-block;
    margin-right: 10px;
}

.checkbox-text {
    color: #fff;
}

.psw-text {
    color: #fff;
}

.text-signin {
    color: #fff;
    margin-top: 30px;
}

.back {
    color: #fff;
    text-transform: uppercase;
}
#dropdown-basic{
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    border-radius: 10px;
    box-shadow: none;
    
}

.logout-op{
    color: #000;
    font-size: 14px;
    text-align: left;
    height: 40px;
    padding: 5%;
}